/* ------------------------------------------------------------ *\
	article-footer
\* ------------------------------------------------------------ */

.article-footer {
	margin: 20px; 
	width: 100%; 
	max-width: calc(20% - 20px * 2);
	flex: 0 0 calc(20% - 20px * 2);
	text-align: center; 

	@include breakpoint-small-desktop {
		max-width: calc(25% - 20px * 2);
		flex: 0 0 calc(25% - 20px * 2);
	}

	@include breakpoint-tablet {
		max-width: calc(33.33% - 20px * 2);
		flex: 0 0 calc(33.33% - 20px * 2);
	}

	@include breakpoint-mobile {
		max-width: calc(50% - 20px * 2);
		flex: 0 0 calc(50% - 20px * 2);
	}

	@include breakpoint-mobile-medium {
		max-width: calc(100% - 20px * 2);
		flex: 0 0 calc(100% - 20px * 2);
	}
	
	h5 {
		margin-top: -4px; 

		@include breakpoint-small-desktop {
			margin-top: 0; 
			font-size: 15px; 
		}
	}
}

/* ------------------------------------------------------------ *\
	articles-footer
\* ------------------------------------------------------------ */

.articles-footer {
	.articles__inner {
		margin: -20px; 
		display: flex; 
	}
}
