/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	position: relative; 
	border: none;
	border-radius: 0;
	border-bottom-left-radius: 20px;
	min-width: 96px; 
	min-height: 60px;
	box-shadow: none;
	box-shadow: 0 0 6px rgba($black, 0);
	border: 1px solid currentColor;
	background-color: $white;
	display: inline-flex; 
	text-decoration: none; 
	text-transform: none; 
	line-height: 1; 
	cursor: pointer;
	appearance: none;
	transition: $tsi;

	@include breakpoint-small-desktop {
		border-bottom-left-radius: 10px;
		min-height: 50px; 
	}

	@include breakpoint-mobile-medium {
		min-height: 40px; 
	}

	.btn__content {
		padding: 9px 14px;
		border-bottom-left-radius: 17px;
		min-height: 58px; 
		flex: 1 1 auto;
		display: flex; 
		flex-direction: column;
		justify-content: center;

		@include breakpoint-small-desktop {
			padding: 9px 8px;
			border-bottom-left-radius: 7px;
			min-height: 48px; 
		}

		@include breakpoint-mobile-medium {
			min-height: 38px; 
			padding: 6px; 
		}
	}

	.btn__title {
		margin: auto 0; 
		line-height: 1; 
		color: inherit;
		letter-spacing: 0;
		font-weight: 800; 

		@include breakpoint-small-desktop {
			font-size: 15px; 
		}

		@include breakpoint-mobile-medium {
			font-size: 13px; 
		}
	}

	.btn__text {
		margin: auto 0; 
		transition: $tsi;
		font-weight: 600; 
	}

	.btn__price {
		margin-top: 4px; 
		display: block; 

		@include breakpoint-small-desktop {
			margin-top: 2px; 
		}
	}

	.btn__icon {
		width: 40px; 
		min-height: 58px; 
		background-color: currentColor;
		flex: 0 0 auto;
		display: flex; 
		justify-content: center;
		align-items: center;
		text-align: center; 
		line-height: 1; 

		@include breakpoint-small-desktop {
			min-height: 48px; 
		}

		@include breakpoint-mobile-medium {
			width: 30px; 
			min-height: 38px; 
		}

		i {
			color: $white;
		}
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 6px rgba($black, .6);
	}
}

/*  btn--lg  */
.btn--lg {
	.btn__content {
		padding-top: 12px; 
		padding-bottom: 12px; 

		@include breakpoint-small-desktop {
			padding: 8px;
		}
	}
}

/*  btn--sm  */
.btn--sm {
	min-height: 40px; 

	@include breakpoint-small-desktop {
		min-width: 70px; 
		min-height: 32px; 
	}

	.btn__content {
		padding-top: 7px; 
		min-height: 38px; 

		@include breakpoint-small-desktop {
			min-height: 30px; 
			padding: 7px 7px; 
		}
	}

	.btn__icon {
		width: 40px; 
		min-height: 38px; 
		font-size: 17px; 

		@include breakpoint-small-desktop {
			width: 32px; 
			min-height: 30px; 
		}
	}
}

/*  btn--xs  */
.btn--xs {
	border-bottom-left-radius: 10px;
	min-height: 32px; 

	.btn__content {
		padding: 7px 10px; 
		border-bottom-left-radius: 7px;
		min-height: 30px; 
	}

	.btn__title {
		font-size: 15px;

		@include breakpoint-mobile-medium {
			font-size: 13px; 
		}
	}

	.btn__icon {
		width: 20px; 
		min-height: 30px; 
		font-size: 11px; 
	}
}

/*  btn--reverse  */
.btn--reverse {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 20px;

	@include breakpoint-small-desktop {
		border-bottom-right-radius: 10px;
	}

	.btn__content {
		order: 99;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 17px;

		@include breakpoint-small-desktop {
			border-bottom-right-radius: 7px;
		}
	}
}

/*  btn--blue  */
.btn--blue {
	color: $purple;

	.btn__text {
		color: $sky;
	}

	&:hover,
	&:focus {
		color: $blue;

		.btn__text {
			color: $white;
		}
	}
}

/*  btn--green  */
.btn--green {
	color: $forest;

	&:hover,
	&:focus {
		color: $apple;
	}
}

/*  btn--radius  */
.btn--radius {
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;

	@include breakpoint-small-desktop {
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.btn__content {
		border-bottom-left-radius: 17px;
		border-top-right-radius: 17px;

		@include breakpoint-small-desktop {
			border-bottom-left-radius: 7px;
			border-top-right-radius: 7px;
		}
	}
}

/*  btn--solid  */
.btn--solid {
	.btn__content {
		background-color: currentColor;
	}

	.btn__title {
		color: $sky;
	}
}

/* ------------------------------------------------------------ *\
	btns
\* ------------------------------------------------------------ */

.btns {
	display: flex; 
	justify-content: flex-end;

	.btns__entry {
		flex: 0 1 auto;
	}
	
	.btns__entry + .btns__entry {
		margin-left: auto; 
		padding-left: 20px; 
	}
}
