/* ------------------------------------------------------------ *\
	list-socials
\* ------------------------------------------------------------ */

.list-socials {
	display: flex; 

	li {
		flex: 0 0 auto;
	}

	li + li {
		margin-left: 20px;
	}
}
