/* ------------------------------------------------------------ *\
	list-bar
\* ------------------------------------------------------------ */

.list-bar {
	margin-left: -20px; 
	margin-bottom: -5px; 
	display: flex; 
	flex-wrap: wrap;

	li {
		margin-left: 20px; 
		margin-bottom: 5px; 
		flex: 0 1 auto;
	}
}

/*  list-bar--alt  */
.list-bar--alt {

}
