/* ------------------------------------------------------------ *\
	list-nav
\* ------------------------------------------------------------ */

.list-nav {
	display: flex; 
	letter-spacing: -0.035em; 

	li {
		flex: 0 1 auto;
	}

	li + li {
		margin-left: 5px; 
	}
}
