/* ------------------------------------------------------------ *\
	logo
\* ------------------------------------------------------------ */

.logo {
	width: 100%; 
	height: 100%; 
	display: flex; 
	justify-content: center;
	align-items: center;
	text-align: center; 
}

/* ------------------------------------------------------------ *\
	logos
\* ------------------------------------------------------------ */

.logos {
	position: relative; 
	text-align: center; 

	h5 {
		padding-bottom: 15px; 

		@include breakpoint-small-desktop {
			padding-bottom: 10px; 
		}
	}

	.logos__inner {
		position: relative; 
		margin: 0 55px; 
		overflow: hidden; 

		@include breakpoint-small-desktop {
			margin: 0 30px;
		}
	}

	.logos__main {
		width: auto; 
		display: flex; 
	}
}
