/* ------------------------------------------------------------ *\
	select2
\* ------------------------------------------------------------ */

.select2-container {
	border-radius: 0 10px 0 10px; 
	box-shadow: 0 0 6px transparent;
	transition: $tsi;
	letter-spacing: 0;

	&:hover {
		color: $blue;
		box-shadow: 0 0 6px rgba($black, .6);
	}

	 .select2__entry {
		position: relative; 
		padding-right: 30px; 
		display: block; 
	}

	.select2-selection {
		border: none;
		border-radius: 0;
		height: auto; 
		background-color: transparent;

		.select2-selection__rendered {
			padding: 4px 4px 4px 7px; 
			border: 3px solid $light;
			border-radius: 0 10px 0 10px; 
			height: 32px; 
			background-color: $white;
			line-height: 18px; 
			color: inherit;
			transition: border-radius .3s ease-out, border-color .3s ease-out, background-color .3s ease-out;
		}
		
		.select2-selection__arrow {
			position: absolute;
			top: 6px; 
			right: 10px;
			width: auto; 
			height: 20px; 
			font-size: 24px; 
			display: block; 
			color: inherit;
			line-height: 1; 
			transition: transform .3s ease-out;

			&:before {
				@include fas;
				content: '\f107';
				display: block; 
			}

			b {
				display: none; 
			}
		}
	}

	.select2-dropdown {
		top: 100%; 
		margin-top: -3px; 
		border: 0;
		background-color: transparent;

		&:before {
			content: '';
			position: absolute; 
			top: -29px; 
			left: 0; 
			right: 0; 
			bottom: 0; 
			border-radius: 0 10px 0 10px; 
			box-shadow: 0 0 6px rgba($black, .6);
			pointer-events: none;
			opacity: 0;
			visibility: hidden; 
			transition: $tsi;
		}
	}

	.select2-dropdown--above {
		margin-top: 29px; 
		transform: translateY(100%); 
	}

	.select2-results {
		opacity: 0; 
		visibility: hidden; 
		transition: $tsi;

		@include breakpoint-small-desktop {
			font-size: 13px; 
		}

		.select2-results__option {
			padding: 5px 4px 5px 7px; 
			border-style: solid;
			border-color: $light;
			border-width: 1px 3px 0;
			border-radius: 0; 
			background-color: $white; 
			height: 29px; 
			line-height: 18px; 
			color: inherit;
			transition: $tsi;
		}

		.select2-results__option:last-of-type {
			border-radius: 0 0 0 10px; 
			border-bottom-width: 3px;
			height: 32px; 
		}

		.select2-results__option[aria-selected="true"] {
			background-color: $light;
			color: $purple;
		}

		.select2-results__option--highlighted {
			background-color: $blue; 
			color: $white ;
		}
	}

	.select2-search {
		display: none; 
	}

	&.select2-container--open {
		border-radius: 0 10px 0 0;
		box-shadow: 0 0 6px transparent;

		&:hover {
			box-shadow: 0 0 6px transparent;
		}

		.select2-selection {
			.select2-selection__arrow {
				transform: rotate(-180deg); 
			}

			.select2-selection__rendered {
				border-bottom-left-radius: 0;
			}
		}
	}
}

/*  select2-container--language  */
.select2-container--language {
	width: 80px; 
	font-size: 13px; 
	font-weight: 600; 

	.select2__entry {
		position: relative; 
		display: block; 
		text-transform: uppercase; 
	}

	.select2__icon {
		position: absolute; 
		right: 0; 
		top: 0; 
		display: block; 
	}

	.select2-selection {
		.select2-selection__arrow {
			position: absolute;
			transform-origin: 50% 2px;
			top: 15px; 
			right: 41px;
			width: 8px;
			height: 8px;
			border: 4px solid transparent;
			color: inherit;
			border-top-color: currentColor;
			transition: transform .3s ease-out;

			&:before {
				display: none; 
			}

			b {
				display: none;
			}
		}
	}
}

/*  select2-container--lg  */
.select2-container--lg {
	border-radius: 0 20px 0 20px; 

	@include breakpoint-small-desktop {
		border-radius: 0 10px 0 10px; 
	}

	.select2-selection {
		.select2-selection__rendered {
			padding: 13px 17px 15px;
			border-radius: 0 20px 0 20px; 
			height: 53px; 
			font-size: 17px; 
			line-height: 1; 
			font-weight: 600; 

			@include breakpoint-small-desktop {
				padding: 11px 12px;
				border-radius: 0 10px 0 10px; 
				height: 44px; 
				font-size: 15px; 
			}
		}

		.select2-selection__arrow {
			top: 15px; 
			right: 20px; 

			@include breakpoint-small-desktop {
				top: 12px; 
			}
		}
	}

	.select2-dropdown {
		&:before {
			top: -50px; 
			border-radius: 0 20px 0 20px; 

			@include breakpoint-small-desktop {
				top: -41px; 
				border-radius: 0 10px 0 10px; 
			}
		}
	}

	.select2-dropdown--above {
		margin-top: 50px; 
		transform: translateY(100%); 

		@include breakpoint-small-desktop {
			margin-top: 41px; 
		}
	}

	.select2-results {
		.select2-results__option {
			padding: 16px 15px;
			height: 50px; 
			line-height: 1; 
		}

		.select2-results__option:last-of-type {
			border-radius: 0 0 0 20px; 
			height: 53px; 

			@include breakpoint-small-desktop {
				border-radius: 0 0 0 10px; 
			}
		}
	}

	&.select2-container--open {
		border-radius: 0 20px 0 0;

		@include breakpoint-small-desktop {
			border-radius: 0 10px 0 0;
		}
	}
}

/* ------------------------------------------------------------ *\
	select2-wrapper
\* ------------------------------------------------------------ */

.select2-wrapper {
	&.has-dropdown-opening {
		.select2-parent.is-opening {
			.select2-container {
				border-radius: 0 10px 0 0;
				box-shadow: 0 0 6px rgba($black, .6);

				&:hover {
					box-shadow: 0 0 6px rgba($black, .6);
				}
			}

			.select2-container--lg {
				border-radius: 0 20px 0 0;

				@include breakpoint-small-desktop {
					border-radius: 0 10px 0 0;
				}
			}
		}
	}

	&.has-dropdown-open {
		.select2-results {
			opacity: 1; 
			visibility: visible; 
		}
		
		.select2-dropdown {
			&:before {
				opacity: 1; 
				visibility: visible; 
			}
		}

		.select2-parent {
			pointer-events: none;

			&.is-open {
				pointer-events: auto;
			}
		}
	}

	&.has-dropdown-closing {
		.select2-parent.is-closing {
			.select2-container {
				border-radius: 0 10px 0 10px;
				transition: transform 0.3s ease-out, background-color .3s ease-out, box-shadow 0s, border-color .3s ease-out, border-radius .3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
				box-shadow: 0 0 6px rgba($black, .6);

				&:hover {
					box-shadow: 0 0 6px rgba($black, .6);
				}
			}

			.select2-container--lg {
				border-radius: 0 20px 0 20px;

				@include breakpoint-small-desktop {
					border-radius: 0 10px 0 10px;
				}
			}
		}
	}
}
