/* ------------------------------------------------------------ *\
	shade-hero
\* ------------------------------------------------------------ */

.shade-hero {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 50%; 
	pointer-events: none;
	@include grad-transparent(152deg, currentColor, 0%, 45%);
}
