/* ------------------------------------------------------------ *\
	star
\* ------------------------------------------------------------ */

.star {
	flex: 0 0 auto;

	@include breakpoint-small-desktop {
		width: 13px; 
	}

	img,
	svg {
		display: block; 
	}
}

/* ------------------------------------------------------------ *\
	stars
\* ------------------------------------------------------------ */

.stars {
	display: flex; 

	.star + .star {
		margin-left: 4px; 
	}
}
