/* ------------------------------------------------------------ *\
	tab
\* ------------------------------------------------------------ */

.tab {
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	opacity: 0; 
	visibility: hidden;
	pointer-events: none;
	transition: opacity .5s linear, visibility .5s linear;
	
	&.active {
		position: relative; 
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transition: opacity .5s ease-out, visibility .5s ease-out;
		z-index: 1; 
	}
}

/*  tab--alt  */
.tab--alt {
	transition: 0s;

	&.active {
		transition: opacity .5s ease-out, visibility .5s ease-out;
	}
}

/* ------------------------------------------------------------ *\
	tabs
\* ------------------------------------------------------------ */

.tabs {
	position: relative; 
	margin: -10px;
	padding: 10px;
	overflow: hidden; 

	.tabs__inner {
		position: relative; 
	}
}
