/* ------------------------------------------------------------ *\
	title
\* ------------------------------------------------------------ */

.title {
	h2 {
		flex: 0 0 auto;
	}

	.title__inner {
		display: flex; 
	}

	.title__stars {
		flex: 0 0 auto;
	}
}
