<div class="sections">
	<div class="section section--sidebar">
		<div class="shell">
			<div class="section__inner">
				<div class="section__main">
					<div class="article section__article">
						<h2>Kop H2</h2>
												
						<p>Het hotel ligt in het plaatsje Grafschaft, midden in een bosrijk gebied gelegen in de driehoek, <a href="#">Schmallenberg</a>, Winterberg en Bilstein en ademt een landelijke sfeer.</p>
												
						<h3>Kop H3</h3>
												
						<p>In restaurant &bdquo;Bel Etage&ldquo; wordt u tijdens uw verblijf verwend met een dagelijks uitgebreid &bdquo;Enjoy&ldquo; ontbijtbuffet, warme lunch en een afwisselend  Culinair Dinerbuffet.</p>
												
						<p>In ons grand-cafe-lounge Hubertusstube vind u veel gezelligheid en leuke thema-avonden met onder andere live muziek.</p>
						
						<p>’s-Avonds is er net zoals in onze andere hotels regelmatig vertier en entertainment.</p>
												
						<h4>Kop H4</h4>
												
						<p>Als gast van ons Hotel kunt u gratis gebruik maken van ons eigen zwembad en diverse sauna’s. Verder heeft u gratis vervoer per bus, trein door het gehele Sauerland. Ook krijgt u een kortingskaart voor tal van attracties in de directe omgeving.</p>
												
						<h5>Kop H5</h5>
												
						<ul>
							<li>Ontvangst met warme lunch of koffie met gebak</li>
												
							<li>Als gast van ons Hotel kunt u gratis gebruik maken van ons eigen zwembad en diverse sauna’s. Verder heeft u gratis vervoer per bus, trein door het gehele Sauerland. Ook krijgt u een kortingskaart voor tal van attracties in de directe omgeving.</li>
												
							<li>Kortingen voor diverse attracties</li>
						</ul>
												
						<h5>Kop H5</h5>
												
						<ol>
							<li>Dit zeer bekende vakantie gebied biedt u talloze mogelijkheden voor een zeer afwisselde vakantie. Alpin Hotel is een sfeervol multifunctioneel hotel met alles onder een dak en beschikt over 116 kamers, allen met douche/bad, toilet, TV en een zitje. Bijna alle kamers zijn per lift bereikbaar.</li>
												
							<li>Alle Kamers zijn rookvrij</li>
												
							<li>Gratis stalling fietsen en motoren</li>
						</ol>
					</div><!-- /.article -->
												
					<div class="section__spacer section__spacer--sm spacer color-gray"></div><!-- /.section__spacer -->
												
					<div class="article section__article">
						<h3>Veel gestelde vragen</h3>
												
						<p>Hieronder wat veelgestelde vragen en antwoorden.</p>
					</div><!-- /.article -->

					<div class="accordions section__accordions">
						<div class="accordions__entry">
							<include src="accordion.html"></include>
						</div><!-- /.accordions__entry -->

						<div class="accordions__entry">
							<include src="accordion-active.html"></include>
						</div><!-- /.accordions__entry -->
					</div><!-- /.accordions -->
				</div><!-- /.section__main -->
			
				<div class="section__sidebar color-desert">
					<div class="sidebar">
						<div class="sidebar__entry">
							<include src="card.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-2.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-2.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
			</div><!-- /.section__inner -->
		</div><!-- /.shell -->
	</div><!-- /.section -->
	
	<div class="section color-desert">
		<div class="shell">
			<div class="section__cards">
				<div class="cards">
					<include src="card-4.html"></include>
				</div><!-- /.cards -->
			</div><!-- /.section__cards -->
			
			<div class="section__cards hidden-xs">
				<div class="cards">
					<include src="card-5.html"></include>
				
					<include src="card-5.html"></include>
				</div><!-- /.cards -->
			</div><!-- /.section__cards -->
			
			<div class="section__cards">
				<div class="cards">
					<include src="card-5.html"></include>
					
					<include src="card-5.html"></include>
				
					<include src="card-6.html"></include>
				</div><!-- /.cards -->
			</div><!-- /.section__cards -->
			
			<div class="section__cards hidden-xs">
				<div class="cards">
					<include src="card-5.html"></include>
					
					<include src="card-5.html"></include>
					
					<include src="card-6.html"></include>
					
					<include src="card-6.html"></include>
				</div><!-- /.cards -->
			</div><!-- /.section__cards -->
		</div><!-- /.shell -->
	</div><!-- /.section -->
</div><!-- /.sections -->
