<div class="accordion js-accordion">
	<h5 class="accordion__head">Kan ik gebruik maken van WiFi (Draadloos internet)?</h5><!-- /.accordion__head -->

	<span class="accordion__icon"><i class="fal fa-angle-down"></i></span>

	<div class="accordion__body js-accordion-expand">
		<div class="accordion__content">
			<div class="accordion__article">
				<div class="article article--accordion">
					<p>Ja, er is zoveel mogelijk! Denkt u hierbij aan bijvoorbeeld een glutenvrij-, gistvrij-, lactosevrij- of een vegetarisch dieet. Geeft u bij aankomst uw dieetwensen alvast door aan ons. Onze chef gaat direct met uw speciale verzoek aan de slag en maken een smakelijke maaltijd voor u! Eet smakelijk!</p>
				</div><!-- /.article -->
			</div><!-- /.accordion__article -->
		</div><!-- /.accordion__content -->
	</div><!-- /.accordion__body -->
</div><!-- /.accordion -->
