<div class="accordion accordion--alt bg-white js-accordion">
	<h5 class="accordion__head">Klik hier voor een activiteitenoverzicht op datum</h5><!-- /.accordion__head -->

	<span class="accordion__icon"><i class="fal fa-angle-down"></i></span>

	<div class="accordion__body js-accordion-expand">
		<div class="accordion__content">
			<div class="dates dates--alt bg-light accordion__dates">
				<include src="date-sm-alt.html"></include>
						
				<include src="date-sm-alt.html"></include>
				
				<include src="date-sm-alt.html"></include>
				
				<include src="date-sm-alt.html"></include>
				
				<include src="date-sm-alt-1.html"></include>
				
				<include src="date-sm-alt.html"></include>

				<include src="date-sm-alt.html"></include>
						
				<include src="date-sm-alt.html"></include>
				
				<include src="date-sm-alt.html"></include>
				
				<include src="date-sm-alt.html"></include>
				
				<include src="date-sm-alt-1.html"></include>
				
				<include src="date-sm-alt.html"></include>
			</div><!-- /.dates -->
		</div><!-- /.accordion__content -->
	</div><!-- /.accordion__body -->
</div><!-- /.accordion -->
