<div class="article-callout">
	<div class="article__label hidden-sm hidden-lg">
		<h6><em>Hoteloverzicht wordt vervolgd onder dit blok</em></h6>
	</div><!-- /.article__label -->

	<div class="article__inner bg-white">
		<h2 class="color-desert">Voor alle <span class="color-purple">Enjoy</span>Hotels geldt:</h2>
		
		<div class="article__callout">
			<div class="callout">
				<div class="callout__bg"></div><!-- /.callout__bg -->
			
				<h5>Droomvakanties met 'waar' voor je geld, daar word je vrolijk van!</h5>
			</div><!-- /.callout -->
		</div><!-- /.article__callout -->
		
		<ul>
			<li><em>De mooiste vakantiegebieden van Duitsland, België en nu ook Nederland</em></li>
			
			<li><em>850 moderne hotelkamers, in de mooiste vakantiegebieden van Duitsland en België</em></li>
			
			<li><em>Geen boekings-, reserveringskosten en geen toeslag voor 1 persoonskamers</em></li>
			
			<li><em>Hoge kwaliteit tegen de voordeligste prijs</em></li>
			
			<li><em>Aanbetaling is niet verplicht</em></li>
		</ul>
		
		<div class="article__contact color-purple">
			<div class="contact contact--alt">
				<h5><a href="tel:+31202254880">Boek nu&nbsp;<span class="contact__phone color-desert"><i class="fas fa-phone-alt"></i></span>&nbsp;<span class="contact__number">+31 (0) 20 225 48 80</span></a></h5>
				
				<h6><em>Nederlands gesproken 7 dagen per week van 08:00 t/m 20:00 uur</em></h6>
			</div><!-- /.contact -->
		</div><!-- /.article__contact -->
	</div><!-- /.article__inner -->
</div><!-- /.article-callout -->
