<div class="bar-cookie js-cookie is-hidden">
	<div class="shell">
		<div class="bar__inner">
			<div class="bar__main">
				<div class="bar__content">
					<span class="bar__title fw-sb color-desert">Enjoy some cookies</span>
				
					Door gebruik te maken van onze website, gaat u akkoord met het plaatsen van cookies. Meer informatie hierover kunt u lezen in onze <a href="#" class="bar__link">privacy policy</a>
				</div><!-- /.bar__content -->
			</div><!-- /.bar__main -->

			<div class="bar__actions">
				<button class="btn btn--sm btn--blue js-cookie-setter">
					<span class="btn__content">
						<h5 class="btn__title">OK</h5>
					</span>
					
					<span class="btn__icon">
						<i class="fas fa-arrow-right"></i>
					</span>
				</button>
			</div><!-- /.bar__actions -->
		</div><!-- /.bar__inner -->
	</div><!-- /.shell -->
</div><!-- /.bar-cookie --> 
