<div class="bar bg-white">
	<div class="shell">
		<div class="shade-grad color-black shade-grad--reverse op-4"></div><!-- /.shade-grad -->

		<div class="bar__inner">
			<div class="bar__contact color-purple">
				<div class="contact">
					<h5><a href="tel:+31202254880"><span class="contact__text">Boek nu</span> <span class="contact__phone color-desert"><i class="fas fa-phone-alt"></i></span> <span class="contact__number">+31 (0) 20 225 48 80</span></a></h5>
				</div><!-- /.contact -->
			</div><!-- /.bar__contact -->

			<a href="#" class="bar__btn bar__btn--home"><i class="fas fa-home"></i>Home</a>

			<button class="bar__btn js-mobile-menu-trigger"><i class="fas fa-bars"></i>Menu</button>
		</div><!-- /.bar__inner -->
	</div><!-- /.shell -->
</div><!-- /.bar --> 
