<div class="card-big">
	<div class="card__image">
		<div class="card__poster poster hidden-xs" style="background-image: url(assets/images/temp/arolsen.jpg);"></div><!-- /.card__poster -->

		<div class="card__poster poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/arolsen-mobile.jpg);"></div><!-- /.card__poster -->

		<div class="card__shade component__shade">
			<div class="shade-card color-purpledark op-9"></div><!-- /.shade-card -->
		</div><!-- /.card__shade -->
	</div><!-- /.card__image -->

	<h3 class="card__title">Schloss Bad Arolsen</h3><!-- /.card__title -->

	<div class="card__article bg-cream">
		<div class="article">
			<p>Een nieuw kunstmuseum in Delden: Museum No Hero. Het museum heeft een vaste collectie en wisselende tentoonstellingen op het gebied van internationale kunst. Vijf eeuwen en vijf continenten komen bij elkaar in Museum No Hero, dat is gevestigd in een prachtig historisch pand uit 1726.</p>

			<p>Negen tentoonstellingszalen – gevuld met een prachtige selectie schilderijen, beelden, meubels en een enkele klok – tonen je een beknopt overzicht van vijf eeuwen internationale kunstgeschiedenis, verdeeld over vijf continenten.</p>
		</div><!-- /.article -->
	</div><!-- /.card__article -->
</div><!-- /.card-big -->
