<div class="card sidebar__card section__card bg-cream">
	<div class="card__article">
		<div class="article article--card">
			<i class="fas fa-info-circle"></i>

			<h3>Algemene informatie</h3>
			
			<p>Vanaf 12.00 uur voor de gratis warme lunch <br> Vanaf 15.00 uur is uw kamer beschikbaar</p>
			
			<ul>
				<li>Ontvangst met warme lunch of koffie met gebak</li>
				
				<li><strong>NIEUW:</strong> Koffiecorner koffie en thee</li>
				
				<li>Kortingen voor diverse attracties</li>
			</ul>

			<ul>
				<li>Ontvangst met warme lunch of koffie met gebak</li>
				
				<li><strong>NIEUW:</strong> Koffiecorner koffie en thee</li>
				
				<li>Kortingen voor diverse attracties</li>
			</ul>

			<ul>
				<li>Alle kamers bevinden zich op de begane grond of 1ste etage</li>
				
				<li>Alle Kamers zijn rookvrij</li>
				
				<li>Gratis stalling fietsen en motoren</li>
			</ul>
		</div><!-- /.article-card -->
	</div><!-- /.card__article -->
</div><!-- /.card -->
