<div class="section section--sidebar">
	<div class="shell">
		<div class="section__inner">
			<div class="section__main">
				<div class="section__article">
					<div class="article">
						<h2>Neem contact op</h2>
						
						<p>Het hotel ligt in het plaatsje Grafschaft. Via onderstaand formulier kunt u direct contact met ons opnemen.</p>
					</div><!-- /.article -->
				</div><!-- /.section__article -->
				
				<div class="section__form">
					<div class="form">
						<include src="form-contact.html"></include>
					</div><!-- /.form -->
				</div><!-- /.section__form -->
			</div><!-- /.section__main -->

			<div class="section__sidebar color-desert">
					<div class="sidebar">
						<div class="sidebar__entry">
							<include src="card.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-2.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-2.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
		</div><!-- /.section__inner -->
	</div><!-- /.shell -->
</div><!-- /.section -->
