<div class="date date--sm">
	<div class="date__entry">
		Ma
	</div><!-- /.date__entry -->

	<div class="date__entry">
		4-12
	</div><!-- /.date__entry -->

	<div class="date__entry">
		Hotels beschikbaar
	</div><!-- /.date__entry -->

	<div class="date__actions">
		<button class="btn btn--xs btn--green">
			<span class="btn__content">
				<h5 class="btn__title">Boek nu</h5>
			</span>
			
			<span class="btn__icon">
				<i class="fas fa-arrow-right"></i>
			</span>
		</button>
	</div><!-- /.date__actions -->

	<button class="date__link"></button>
</div><!-- /.date -->
