<div class="section">
	<div class="shell">
		<div class="isotope js-isotope">
			<div class="isotope__sizer js-isotope-sizer"></div><!-- /.isotope__sizer -->
			
			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big-1.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big-1.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big-1.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->

			<div class="isotope__item js-isotope-item">
				<div class="component">
					<include src="card-big-1.html"></include>
				</div><!-- /.component -->
			</div><!-- /.isotope__item -->
		</div><!-- /.isotope -->
	</div><!-- /.shell -->
</div><!-- /.section -->
