<div class="sections">
	<div class="section">
		<div class="shell">
			<div class="section__filter">
				<div class="filter">
					<div class="filter__inner">
						<div class="filter__main">
							<h2>Activiteiten uit het verleden</h2>
						</div><!-- /.filter__main -->
					
						<div class="filter__aside">
							<div class="filter__actions">
								<a href="#" class="link filter__link">Bekijk toekomstige activiteiten</a>
							</div><!-- /.filter__actions -->
						</div><!-- /.filter__aside -->
					</div><!-- /.filter__inner -->
				</div><!-- /.filter -->
			</div><!-- /.section__filter -->
		</div><!-- /.shell -->
	</div><!-- /.section -->
	
	<div class="section section--sidebar section--complex section--complex-alt section--past">
		<div class="shell">
			<div class="section__inner bg-light">
				<div class="article section__article section__article--title hidden-lg">
					<h3>Oud & Nieuw 2020</h3>

					<p>Subtitel van arrangement</p>
				</div><!-- /.article -->

				<div class="section__main">
					<div class="section__cols section__cols--size-1 section__cols--photos">
						<div class="section__col section__col--size-1">
							<div class="article section__article section__article--title hidden-xs hidden-sm hidden-md">
								<h3>Oud & Nieuw 2020</h3>

								<p>Subtitel van arrangement</p>
							</div><!-- /.article -->

							<div class="section__photos section__photos--size-1">
								<div class="photos">
									<div class="photo">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/fireworks.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/fireworks-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								
									<div class="photo photo--portrait">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/champagne.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/champagne-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								</div><!-- /.photos -->
							</div><!-- /.section__photos -->
						</div><!-- /.section__col -->

						<div class="section__col section__col--size-2">
							<div class="article section__article">
								<p>Elk nieuw seizoen bedenkt de uit India afkomstige patissier Vipin Charly nieuwe creaties voor de inmiddels befaamde Afternoon Tea. Voor het 5-jarig bestaan van <a href="#">Waldorf Astoria Amsterdam</a> liet hij zich inspireren door de kruiden, bloemen en bijen in de binnentuin en de internationale wortels.</p>

								<ul>
									<li>Ontvangst met warme lunch of koffie met gebak</li>
									
									<li>4 x Overnachting met uitgebreid "Enjoy" ontbijtbuffet</li>
									
									<li>4 x Warme lunch of lunchpakket</li>
									
									<li>4 x Uitstekend Dinerbuffet</li>
									
									<li><strong>NIEUW:</strong> Koffiecorner koffie en thee gehele dag <strong>GRATIS</strong></li>
									
									<li>Dagelijks alle drankjes van 17:00 t/m 24:00 <strong>GRATIS</strong></li>
									
									<li>Bieren,wijnen,fris- en vruchtendranken,jenevers en apfelkorn</li>
									
									<li><strong>GRATIS</strong> Dagtocht per luxe touringcar door het Sauerland</li>
									
									<li><strong>GRATIS</strong> Sauerlandkaart voor gratis openbaar vervoer</li>
									
									<li>Kortingen voor diverse attracties</li>
									
									<li>Iedere avond vertier en entertainment</li>
									
									<li>o.a Magic WoBo show,live muziek, Wandeling en Quizavond</li>
									
									<li>Hierbij wordt regelmatig een bittergarnituur geserveerd.</li>
									
									<li><strong>GRATIS</strong> gebruik van hotel binnenzwembad en sauna.</li>
									
									<li>E-bike verhuur station</li>
									
									<li><strong>GRATIS</strong> div. auto-,fiets en wandelroutes met lunchpakket</li>
								</ul>

								<p>Elk nieuw seizoen bedenkt de uit India afkomstige patissier Vipin Charly nieuwe creaties voor de inmiddels befaamde Afternoon Tea.</p>
							</div><!-- /.article -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->

					<div class="section__cols section__cols--size-2 bg-aths hidden-lg">
						<div class="section__col section__col--size-3"> 
							<div class="article article--alt color-desert">
								<h5><em>Tekstblok geschikt voor bijzonderheden over dit arrangement. Cras non euismod urna. Praesent congue odio eget tortor vehicula, vitae congue elit molestie. Sed venenatis iaculis purus ultrices vulputate. Sed faucibus, lacus et suscipit aliquet, sapien tortor facilisis ligula, vitae mattis purus mauris eu nisi. Cras mi nulla, volutpat sed lacus nec, semper euismod tortor. Vivamus at elementum nunc. Quisque tincidunt nec erat in bibendum. Praesent sapien felis, tempor sed eros euismod, volutpat fringilla nunc. Proin varius et massa id varius. Ut eget porta mi.</em></h5>
							</div><!-- /.article -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->
				</div><!-- /.section__main -->
			
				<div class="section__sidebar color-desert">
					<div class="sidebar sidebar--sm">
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
			</div><!-- /.section__inner -->

			<div class="section__cols section__cols--size-2 bg-aths hidden-xs hidden-sm hidden-md">
				<div class="section__col section__col--size-3">
					<div class="article article--alt color-desert">
						<h5><em>Tekstblok geschikt voor bijzonderheden over dit arrangement. Cras non euismod urna. Praesent congue odio eget tortor vehicula, vitae congue elit molestie. Sed venenatis iaculis purus ultrices vulputate. Sed faucibus, lacus et suscipit aliquet, sapien tortor facilisis ligula, vitae mattis purus mauris eu nisi. Cras mi nulla, volutpat sed lacus nec, semper euismod tortor. Vivamus at elementum nunc. Quisque tincidunt nec erat in bibendum. Praesent sapien felis, tempor sed eros euismod, volutpat fringilla nunc. Proin varius et massa id varius. Ut eget porta mi.</em></h5>
					</div><!-- /.article --> 
				</div><!-- /.section__col -->
			</div><!-- /.section__cols -->
		</div><!-- /.shell -->
	</div><!-- /.section -->

	<div class="section section--sidebar section--complex section--complex-alt section--past">
		<div class="shell">
			<div class="section__inner bg-light">
				<div class="article section__article section__article--title hidden-lg">
					<h3>Oud & Nieuw 2020</h3>

					<p>Subtitel van arrangement</p>
				</div><!-- /.article -->

				<div class="section__main">
					<div class="section__cols section__cols--size-1 section__cols--photos">
						<div class="section__col section__col--size-4">
							<div class="article section__article section__article--title hidden-xs hidden-sm hidden-md">
								<h3>Oud & Nieuw 2020</h3>

								<p>Subtitel van arrangement</p>
							</div><!-- /.article -->

							<div class="article section__article">
								<ul>
									<li>Ontvangst met warme lunch of koffie met gebak</li>
									
									<li>4 x Overnachting met uitgebreid "Enjoy" ontbijtbuffet</li>
									
									<li>4 x Warme lunch of lunchpakket</li>
									
									<li>4 x Uitstekend Dinerbuffet</li>
									
									<li><strong>NIEUW:</strong> Koffiecorner koffie en thee gehele dag <strong>GRATIS</strong></li>
									
									<li>Dagelijks alle drankjes van 17:00 t/m 24:00 <strong>GRATIS</strong></li>
									
									<li>Bieren,wijnen,fris- en vruchtendranken,jenevers en apfelkorn</li>
									
									<li><strong>GRATIS</strong> Dagtocht per luxe touringcar door het Sauerland</li>
									
									<li><strong>GRATIS</strong> Sauerlandkaart voor gratis openbaar vervoer</li>
									
									<li>Kortingen voor diverse attracties</li>
									
									<li>Iedere avond vertier en entertainment</li>
									
									<li>o.a Magic WoBo show,live muziek, Wandeling en Quizavond</li>
									
									<li>Hierbij wordt regelmatig een bittergarnituur geserveerd.</li>
									
									<li><strong>GRATIS</strong> gebruik van hotel binnenzwembad en sauna.</li>
									
									<li>E-bike verhuur station</li>
									
									<li><strong>GRATIS</strong> div. auto-,fiets en wandelroutes met lunchpakket</li>
								</ul>
							</div><!-- /.article -->
						</div><!-- /.section__col -->

						<div class="section__col section__col--size-5">
							<div class="section__photos section__photos--size-2">
								<div class="photos photos--reverse">
									<div class="photo">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/fireworks.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/fireworks-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								
									<div class="photo photo--portrait">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/champagne.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/champagne-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								</div><!-- /.photos -->
							</div><!-- /.section__photos -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->

					<div class="section__cols section__cols--size-3 bg-aths hidden-lg">
						<div class="section__col section__col--size-6">
							<div class="article article--alt color-desert">
								<h5><em>Tekstblok geschikt voor bijzonderheden over dit arrangement. Cras non euismod urna. Praesent congue odio eget tortor vehicula, vitae congue elit molestie. Sed venenatis iaculis purus ultrices vulputate. Sed faucibus, lacus et suscipit aliquet, sapien tortor facilisis ligula, vitae mattis purus mauris eu nisi. Cras mi nulla.</em></h5>
							</div><!-- /.article -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->
				</div><!-- /.section__main -->
			
				<div class="section__sidebar color-desert">
					<div class="sidebar sidebar--sm">
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
			</div><!-- /.section__inner -->

			<div class="section__cols section__cols--size-3 bg-aths hidden-xs hidden-sm hidden-md">
				<div class="section__col section__col--size-6">
					<div class="article article--alt color-desert">
						<h5><em>Tekstblok geschikt voor bijzonderheden over dit arrangement. Cras non euismod urna. Praesent congue odio eget tortor vehicula, vitae congue elit molestie. Sed venenatis iaculis purus ultrices vulputate. Sed faucibus, lacus et suscipit aliquet, sapien tortor facilisis ligula, vitae mattis purus mauris eu nisi. Cras mi nulla.</em></h5>
					</div><!-- /.article -->
				</div><!-- /.section__col -->
			</div><!-- /.section__cols -->
		</div><!-- /.shell -->
	</div><!-- /.section -->

	<div class="section section--sidebar section--complex section--complex-alt section--past">
		<div class="shell">
			<div class="section__inner bg-light">
				<div class="article section__article section__article--title hidden-lg">
					<h3>Oud & Nieuw 2020</h3>

					<p>Subtitel van arrangement</p>
				</div><!-- /.article -->

				<div class="section__main">
					<div class="section__cols section__cols--size-1 section__cols--photos">
						<div class="section__col section__col--size-1">
							<div class="article section__article section__article--title hidden-xs hidden-sm hidden-md">
								<h3>Oud & Nieuw 2020</h3>

								<p>Subtitel van arrangement</p>
							</div><!-- /.article -->

							<div class="section__photos section__photos--size-1">
								<div class="photos">
									<div class="photo">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/fireworks.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/fireworks-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								
									<div class="photo photo--portrait">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/champagne.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/champagne-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								</div><!-- /.photos -->
							</div><!-- /.section__photos -->
						</div><!-- /.section__col -->

						<div class="section__col section__col--size-2">
							<div class="article">
								<ul>
									<li>Ontvangst met warme lunch of koffie met gebak</li>
									
									<li>4 x Overnachting met uitgebreid "Enjoy" ontbijtbuffet</li>
									
									<li>4 x Warme lunch of lunchpakket</li>
									
									<li>4 x Uitstekend Dinerbuffet</li>
									
									<li><strong>NIEUW:</strong> Koffiecorner koffie en thee gehele dag <strong>GRATIS</strong></li>
									
									<li>Dagelijks alle drankjes van 17:00 t/m 24:00 <strong>GRATIS</strong></li>
									
									<li>Bieren,wijnen,fris- en vruchtendranken,jenevers en apfelkorn</li>
									
									<li><strong>GRATIS</strong> Dagtocht per luxe touringcar door het Sauerland</li>
									
									<li><strong>GRATIS</strong> Sauerlandkaart voor gratis openbaar vervoer</li>
									
									<li>Kortingen voor diverse attracties</li>
									
									<li>Iedere avond vertier en entertainment</li>
									
									<li>o.a Magic WoBo show,live muziek, Wandeling en Quizavond</li>
									
									<li>Hierbij wordt regelmatig een bittergarnituur geserveerd.</li>
									
									<li><strong>GRATIS</strong> gebruik van hotel binnenzwembad en sauna.</li>
									
									<li>E-bike verhuur station</li>
									
									<li><strong>GRATIS</strong> div. auto-,fiets en wandelroutes met lunchpakket</li>
								</ul>
							</div><!-- /.article -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->

					<div class="section__cols section__cols--size-2 bg-aths hidden-lg"></div><!-- /.section__cols -->
				</div><!-- /.section__main -->
			
				<div class="section__sidebar color-desert">
					<div class="sidebar sidebar--sm">
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
			</div><!-- /.section__inner -->

			<div class="section__cols section__cols--size-2 bg-aths hidden-xs hidden-sm hidden-md"></div><!-- /.section__cols -->
		</div><!-- /.shell -->
	</div><!-- /.section -->

	<div class="section section--sidebar section--complex section--complex-alt section--past">
		<div class="shell">
			<div class="section__inner bg-light">
				<div class="article section__article section__article--title hidden-lg">
					<h3>Oud & Nieuw 2020</h3>

					<p>Subtitel van arrangement</p>
				</div><!-- /.article -->

				<div class="section__main">
					<div class="section__cols section__cols--size-1 section__cols--photos">
						<div class="section__col section__col--size-1">
							<div class="article section__article section__article--title hidden-xs hidden-sm hidden-md">
								<h3>Oud & Nieuw 2020</h3>

								<p>Subtitel van arrangement</p>
							</div><!-- /.article -->

							<div class="section__photos section__photos--size-1">
								<div class="photos">
									<div class="photo">
										<div class="photo__image poster hidden-xs" style="background-image: url(assets/images/temp/fireworks.jpg);"></div><!-- /.photo__image -->

										<div class="photo__image poster hidden-sm hidden-md hidden-lg" style="background-image: url(assets/images/temp/fireworks-mobile.jpg);"></div><!-- /.photo__image -->
									</div><!-- /.photo -->
								</div><!-- /.photos -->
							</div><!-- /.section__photos -->
						</div><!-- /.section__col -->

						<div class="section__col section__col--size-2">
							<div class="article">
								<ul>
									<li>Ontvangst met warme lunch of koffie met gebak</li>
									
									<li>4 x Overnachting met uitgebreid "Enjoy" ontbijtbuffet</li>
									
									<li>4 x Warme lunch of lunchpakket</li>
									
									<li>4 x Uitstekend Dinerbuffet</li>
									
									<li><strong>NIEUW:</strong> Koffiecorner koffie en thee gehele dag <strong>GRATIS</strong></li>
									
									<li>Dagelijks alle drankjes van 17:00 t/m 24:00 <strong>GRATIS</strong></li>
									
									<li>Bieren,wijnen,fris- en vruchtendranken,jenevers en apfelkorn</li>
									
									<li><strong>GRATIS</strong> Dagtocht per luxe touringcar door het Sauerland</li>
									
									<li><strong>GRATIS</strong> Sauerlandkaart voor gratis openbaar vervoer</li>
									
									<li>Kortingen voor diverse attracties</li>
									
									<li>Iedere avond vertier en entertainment</li>
									
									<li>o.a Magic WoBo show,live muziek, Wandeling en Quizavond</li>
									
									<li>Hierbij wordt regelmatig een bittergarnituur geserveerd.</li>
									
									<li><strong>GRATIS</strong> gebruik van hotel binnenzwembad en sauna.</li>
									
									<li>E-bike verhuur station</li>
									
									<li><strong>GRATIS</strong> div. auto-,fiets en wandelroutes met lunchpakket</li>
								</ul>
							</div><!-- /.article -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->
				</div><!-- /.section__main -->
			
				<div class="section__sidebar color-desert">
					<div class="sidebar sidebar--sm">
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
			</div><!-- /.section__inner -->
		</div><!-- /.shell -->
	</div><!-- /.section -->

	<div class="section section--sidebar section--complex section--complex-alt section--past">
		<div class="shell">
			<div class="section__inner bg-light">
				<div class="article section__article section__article--title hidden-lg">
					<h3>Oud & Nieuw 2020</h3>

					<p>Subtitel van arrangement</p>
				</div><!-- /.article -->
				
				<div class="section__main">
					<div class="section__cols section__cols--size-1">
						<div class="section__col section__col--size-1 section__col--single">
							<div class="article section__article section__article--title hidden-xs hidden-sm hidden-md">
								<h3>Oud & Nieuw 2020</h3>

								<p>Subtitel van arrangement</p>
							</div><!-- /.article -->

							<div class="article section__article">
								<ul>
									<li>Ontvangst met warme lunch of koffie met gebak</li>
									
									<li>4 x Overnachting met uitgebreid "Enjoy" ontbijtbuffet</li>
									
									<li>4 x Warme lunch of lunchpakket</li>
									
									<li>4 x Uitstekend Dinerbuffet</li>
									
									<li><strong>NIEUW:</strong> Koffiecorner koffie en thee gehele dag <strong>GRATIS</strong></li>
									
									<li>Dagelijks alle drankjes van 17:00 t/m 24:00 <strong>GRATIS</strong></li>
									
									<li>Bieren,wijnen,fris- en vruchtendranken,jenevers en apfelkorn</li>
									
									<li><strong>GRATIS</strong> Dagtocht per luxe touringcar door het Sauerland</li>
									
									<li><strong>GRATIS</strong> Sauerlandkaart voor gratis openbaar vervoer</li>
									
									<li>Kortingen voor diverse attracties</li>
									
									<li>Iedere avond vertier en entertainment</li>
									
									<li>o.a Magic WoBo show,live muziek, Wandeling en Quizavond</li>
									
									<li>Hierbij wordt regelmatig een bittergarnituur geserveerd.</li>
									
									<li><strong>GRATIS</strong> gebruik van hotel binnenzwembad en sauna.</li>
									
									<li>E-bike verhuur station</li>
									
									<li><strong>GRATIS</strong> div. auto-,fiets en wandelroutes met lunchpakket</li>
								</ul>
							</div><!-- /.article -->
						</div><!-- /.section__col -->
					</div><!-- /.section__cols -->
				</div><!-- /.section__main -->
			
				<div class="section__sidebar color-desert">
					<div class="sidebar sidebar--sm">
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-1.html"></include>
						</div><!-- /.sidebar__entry -->
					
						<div class="sidebar__entry">
							<include src="card-3.html"></include>
						</div><!-- /.sidebar__entry -->
					</div><!-- /.sidebar -->
				</div><!-- /.section__sidebar -->
			</div><!-- /.section__inner -->

			<div class="section__actions">
				<a href="#" class="btn btn--blue btn--radius btn--solid">
					<span class="btn__content">
						<h5 class="btn__text">Bekijk activiteiten uit het verleden</h5>
					</span>
				</a>
			</div><!-- /.section__actions -->
		</div><!-- /.shell -->
	</div><!-- /.section -->
</div><!-- /.sections -->
