<footer class="footer fw-sb bg-white">
	<div class="footer__spacer footer__spacer--alt spacer"></div><!-- /.footer__spacer -->

	<div class="footer__articles">
		<div class="shell">
			<h2 class="color-desert">Dáárom <span class="color-purple">Enjoy</span>Hotels</h2>

			<div class="slider slider--usp js-slider-container">
				<div class="slider__inner js-slider js-slider-usp">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="articles-footer">
								<div class="articles__inner">
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>De mooiste vakantiegebieden van Duitsland, België en nu ook Nederland</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Geen boekings-, reserveringskosten en geen toeslag voor 1 persoonskamers</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>850 moderne hotelkamers, in de mooiste vakantiegebieden van Duitsland en België</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Hoge kwaliteit tegen de voordeligste prijs</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Aanbetaling is niet verplicht</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
								</div><!-- /.articles__inner -->
							</div><!-- /.articles-footer -->
						</div><!-- /.swiper-slide -->

						<div class="swiper-slide">
							<div class="articles-footer">
								<div class="articles__inner">
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quo!</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eligendi?</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sequi!</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, cupiditate.</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
									
									<div class="article-footer">
										<div class="article-usp">
											<i>✓</i>
											
											<h5><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, in!</em></h5>
										</div><!-- /.article-usp -->
									</div><!-- /.article-footer -->
								</div><!-- /.articles__inner -->
							</div><!-- /.articles-footer -->
						</div><!-- /.swiper-slide -->
					</div><!-- /.swiper-wrapper -->
				</div><!-- /.slider__inner -->
			</div><!-- /.slider -->
		</div><!-- /.shell -->
	</div><!-- /.footer__articles -->

	<div class="footer__callout">
		<div class="shell">
			<div class="callout">
				<div class="callout__bg"></div><!-- /.callout__bg -->

				<h5>Droomvakanties met 'waar' voor je geld, daar word je vrolijk van!</h5>
			</div><!-- /.callout -->
		</div><!-- /.shell -->
	</div><!-- /.footer__callout -->

	<div class="footer__logos">
		<div class="shell">
			<div class="logos slider slider--logos js-slider-container">
				<h5 class="color-desert fw-sb"><em>EnjoyHotels is o.a. bekend van:</em></h5>

				<div class="logos__inner js-slider js-slider-logos">
					<div class="logos__main swiper-wrapper">
						<div class="swiper-slide">
							<div class="logo">
								<img src="assets/images/svg/logo-ad.svg" alt="">
							</div><!-- /.logo -->
						</div><!-- /.swiper-slide -->
						
						<div class="swiper-slide">
							<div class="logo">
								<img src="assets/images/svg/logo-telegraaf.svg" alt="">
							</div><!-- /.logo -->
						</div><!-- /.swiper-slide -->
						
						<div class="swiper-slide">
							<div class="logo">
								<img src="assets/images/svg/logo-metro.svg" alt="">
							</div><!-- /.logo -->
						</div><!-- /.swiper-slide -->
						
						<div class="swiper-slide">
							<div class="logo">
								<img src="assets/images/svg/logo-voord.svg" alt="">
							</div><!-- /.logo -->
						</div><!-- /.swiper-slide -->
						
						<div class="swiper-slide">
							<div class="logo">
								<img src="assets/images/svg/logo-dagblad.svg" alt="">
							</div><!-- /.logo -->
						</div><!-- /.swiper-slide -->
						
						<div class="swiper-slide">
							<div class="logo">
								<img src="assets/images/temp/logo-trouw.png" alt="" width="141" height="36">
							</div><!-- /.logo -->
						</div><!-- /.swiper-slide -->
					</div><!-- /.logos__main -->
				</div><!-- /.logos__inner -->
				
				<div class="slider__nav color-purple">
					<button class="slider__arrow slider__arrow--prev js-slider-button-prev"><i class="fal fa-angle-left"></i></button>
				
					<button class="slider__arrow slider__arrow--next js-slider-button-next"><i class="fal fa-angle-right"></i></button>
				</div><!-- /.slider__nav -->
			</div><!-- /.logos -->
		</div><!-- /.shell -->
	</div><!-- /.footer__logos -->

	<div class="footer__bar">
		<div class="bar-links bg-blue">
			<div class="bar__inner">
				<div class="bar__list">
					<div class="shell">
						<ul class="list-bar">
							<li>
								<a href="#" class="link active"><span class="link__content">Hoteloverzicht</span></a>
							</li>
							
							<li>
								<a href="#" class="link"><span class="link__content">Dáárom EnjoyHotels</span></a>
							</li>
							
							<li>
								<a href="#" class="link"><span class="link__content">Brochure 2020</span></a>
							</li>
							
							<li>
								<a href="#" class="link"><span class="link__content">Sluit uw hotel aan bij EnjoyHotels</span></a>
							</li>
						</ul><!-- /.list-bar -->
					</div><!-- /.shell -->
				</div><!-- /.bar__list -->
			
				<div class="bar__list bar__list--alt">
					<div class="shell">
						<ul class="list-bar list-bar--alt">
							<li>
								<a href="#" class="link"><span class="link__content">Impressum</span></a>
							</li>
							
							<li>
								<a href="#" class="link"><span class="link__content">Annuleringsvoorwaarden</span></a>
							</li>
							
							<li>
								<a href="#" class="link"><span class="link__content">Privacy Policy</span></a>
							</li> 
							
							<li>
								<a href="#" class="link"><span class="link__content">Datenschutz</span></a>
							</li>
						</ul><!-- /.list-bar -->
					</div><!-- /.shell -->
				</div><!-- /.bar__list -->
			</div><!-- /.bar__inner -->
		</div><!-- /.bar-links --> 
	</div><!-- /.footer__bar -->
	
	<div class="footer__content bg-purple">
		<div class="shell">
			<div class="footer__cols">
				<div class="footer__col">
					<div class="footer__title color-desert">
						Hoofdkantoor
					</div><!-- /.footer__title -->
			
					<div class="footer__address color-white fw-rg">
						Zur Glashütte 30 <br>
						33181 Bad Wünnenberg <br>
						Duitsland
					</div><!-- /.footer__address -->
				</div><!-- /.footer__col -->
			
				<div class="footer__col">
					<div class="footer__title color-desert">
						Mail of bel
					</div><!-- /.footer__title -->
			
					<div class="footer__contact">
						<a href="mailto:info@enjoyhotels.nl" class="link"><span class="link__content">info@enjoyhotels.nl</span></a> <br>
			
						<a href="tel:+31202254880" class="link"><span class="link__content color-white">+31 (0) 20 225 48 80</span></a>
					</div><!-- /.footer__contact -->
				</div><!-- /.footer__col -->
			
				<div class="footer__col">
					<div class="footer__title color-desert">
						Volg EnjoyHotels
					</div><!-- /.footer__title -->
			
					<div class="footer__socials">
						<ul class="list-socials">
							<li>
								<a href="#" class="link link--social"><i class="fab fa-facebook-f"></i></a>
							</li>
											
							<li>
								<a href="#" class="link link--social link--instagram"><i class="fab fa-instagram"></i></a>
							</li>
						</ul><!-- /.list-socials -->
					</div><!-- /.footer__socials -->
				</div><!-- /.footer__col -->
			</div><!-- /.footer__cols -->

			<div class="footer__spacer footer__spacer--lg spacer"></div><!-- /.footer__spacer -->

			<div class="footer__cols footer__cols--lg">
				<div class="footer__col footer__col--lg">
					<div class="footer__title footer__title--alt">
						<a href="#" class="link link--icon">
							<span class="link__icon">
								<span class="icon-flag icon-flag--sm">
									<img src="assets/images/svg/flag-de-sm.svg" alt="">
								</span>
							</span>
					
							<span class="link__content">Hotels Duitsland</span>
						</a>
					</div><!-- /.footer__title -->
			
					<div class="footer__lists">
						<div class="footer__list">
							<ul class="list-footer">
								<li>
									<a href="#" class="link"><span class="link__content">Alpin Hotel</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">EnjoyHotel Am Park</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">EnjoyHotel Deluxe</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Hotel Bottler</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Hotel Daun</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Hotel Hutter</span></a>
								</li>
							</ul><!-- /.list-footer -->
						</div><!-- /.footer__list -->
			
						<div class="footer__list">
							<ul class="list-footer">
								<li>
									<a href="#" class="link"><span class="link__content">Hotel Marleen</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Hotel Zur Krone</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Weinhotel Veldenz</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Rathaushotel</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Schlosshotel Sophia</span></a>
								</li>
							</ul><!-- /.list-footer -->
						</div><!-- /.footer__list -->
					</div><!-- /.footer__lists -->
				</div><!-- /.footer__col -->
			
				<div class="footer__col footer__col--lg">
					<div class="footer__title footer__title--alt">
						<a href="#" class="link link--icon">
							<span class="link__icon">
								<span class="icon-flag icon-flag--sm">
									<img src="assets/images/svg/flag-be-sm.svg" alt="">
								</span>
							</span>
					
							<span class="link__content">Hotels België</span>
						</a>
					</div><!-- /.footer__title -->
			
					<div class="footer__lists">
						<div class="footer__list">
							<ul class="list-footer">
								<li>
									<a href="#" class="link"><span class="link__content">EnjoyHotel Lanaken</span></a>
								</li>
							</ul><!-- /.list-footer -->
						</div><!-- /.footer__list -->
			
						<div class="footer__list">
							<ul class="list-footer">
								<li>
									<a href="#" class="link"><span class="link__content">Enjoy M Hotel</span></a>
								</li>
							</ul><!-- /.list-footer -->
						</div><!-- /.footer__list -->
					</div><!-- /.footer__lists -->
				</div><!-- /.footer__col -->
			
				<div class="footer__col footer__col--lg">
					<div class="footer__title footer__title--alt">
						<a href="#" class="link link--icon">
							<span class="link__icon">
								<span class="icon-flag icon-flag--sm">
									<img src="assets/images/svg/flag-nl-sm.svg" alt="">
								</span>
							</span>
					
							<span class="link__content">Hotels Nederland</span>
						</a>
					</div><!-- /.footer__title -->
			
					<div class="footer__lists">
						<div class="footer__list">
							<ul class="list-footer">
								<li>
									<a href="#" class="link"><span class="link__content">EnjoyHotel Riche</span></a>
								</li>
								
								<li>
									<a href="#" class="link"><span class="link__content">Hof van Twente</span></a>
								</li>
							</ul><!-- /.list-footer -->
						</div><!-- /.footer__list -->
			
						<div class="footer__list">
							<ul class="list-footer">
								<li>
									<a href="#" class="link"><span class="link__content">Hotel Ruyghe Venne</span></a>
								</li>
							</ul><!-- /.list-footer -->
						</div><!-- /.footer__list -->
					</div><!-- /.footer__lists -->
				</div><!-- /.footer__col -->
			</div><!-- /.footer__cols -->

			<div class="footer__spacer spacer"></div><!-- /.footer__spacer -->

			<div class="footer__logo">
				<a href="home.thml" class="logo-footer color-white">
					<div class="logo__image">
						<img src="assets/images/svg/logo-enjoy-alt.svg" alt="">
					</div><!-- /.logo__image -->

					<div class="logo__slogan fw-sb">
						<em>Alles inclusief vakanties</em>
					</div><!-- /.logo__slogan -->
				</a><!-- /.logo-footer -->
			</div><!-- /.footer__logo -->

			<div class="footer__copyright color-desert">
				<div class="copyright">
					&copy; 2020 Enjoy Hotel Group GmbH - alle rechten voorbehouden
				</div><!-- /.copyright -->
			</div><!-- /.footer__copyright -->
		</div><!-- /.shell -->
	</div><!-- /.footer__content -->
</footer><!-- /.footer -->
