<div class="form">
	<form action="?" method="post">
		<div class="form__controls">
			<label for="field-contact-name" class="form__label">Uw naam</label>
			 
			<input id="field-contact-name" type="text" class="field form__field">

			<div class="form__invalid">
				Dit veld is verplicht
			</div><!-- /.form__invalid -->
		</div><!-- /.form__controls -->
		
		<div class="form__controls">
			<label for="field-contact-mail" class="form__label">Uw e-mailadres</label>
			
			<input id="field-contact-mail" type="text" class="field form__field">

			<div class="form__invalid">
				Dit veld is verplicht
			</div><!-- /.form__invalid -->
		</div><!-- /.form__controls -->
		
		<div class="form__controls">
			<label for="field-contact-message" class="form__label">Uw bericht</label>
				
			<textarea id="field-contact-message" class="field field--textarea form__field"></textarea>

			<div class="form__invalid">
				Dit veld is verplicht
			</div><!-- /.form__invalid -->
		</div><!-- /.form__controls -->

		<div class="spacer color-black"></div><!-- /.spacer -->

		<div class="form__actions">
			<div class="btns">
				<div class="btns__entry">
					<button class="btn btn--blue btn--radius btn--solid">
						<span class="btn__content">
							<h5 class="btn__text">Verzenden</h5>
						</span>
					</button>
				</div><!-- /.btns__entry -->
			</div><!-- /.btns -->
		</div><!-- /.form__actions -->
	</form>
</div><!-- /.form -->
