<div class="frame-tile">
	<div class="frame__tile">
		<include src="tile.html"></include>
	</div><!-- /.frame__tile -->

	<div class="frame__inner">
		<div class="frame__article">
			<div class="article-frame">
				<p><strong>Alles-inclusief: 5 dagen met eigen auto!</strong> <br> Het Rathaushotel is uniek gelegen aan het marktplaats van het hoogst gelegende stad van Duitsland. Tegen de Duits / Tsjechische grens. Het Rathaushotel is unie k gelegen aan het marktplaats van het hoogst gelegende stad van Duitsland. Tegen de Duits /</p>
			</div><!-- /.article -->
		</div><!-- /.frame__article -->
		
		<div class="frame__btns">
			<a href="#" class="btn btn--green frame__btn">
				<span class="btn__content">
					<h5 class="btn__title">Info & Boeken</h5>
					
					<span class="btn__price fw-sb">
						<span class="price color-black">v.a.&nbsp;<span class="fw-xb"><span class="price__big">&euro;&nbsp;199,</span>95</span>&nbsp;p.p.
						</span>
					</span>
				</span>
				
				<span class="btn__icon">
					<i class="fas fa-arrow-right"></i>
				</span>
			</a>
		</div><!-- /.frame__btns -->
	</div><!-- /.frame__inner -->
</div><!-- /.frame-tile -->
