<div class="frame-tile">
	<div class="frame__tile">
		<include src="tile-1.html"></include>
	</div><!-- /.frame__tile -->

	<div class="frame__inner">
		<div class="frame__article">
			<div class="article-frame">
				<p>In hartje Drenthe, in een landelijke omgeving aan de rand van een bos en heideveld, vindt u het gastvrije 4 sterren Hotel-Restaurant Ruyghe Venne.</p>
			</div><!-- /.article -->
		</div><!-- /.frame__article -->
		
		<div class="frame__btns">
			<a href="#" class="btn btn--green frame__btn">
				<span class="btn__content">
					<h5 class="btn__title">Info & Boeken</h5>
					
					<span class="btn__price fw-sb">
						<span class="price color-black component__price">v.a.&nbsp;<span class="fw-xb"><span class="price__big">&euro;&nbsp;199,</span>95</span>&nbsp;p.p.
						</span>
					</span>
				</span>
				
				<span class="btn__icon">
					<i class="fas fa-arrow-right"></i>
				</span>
			</a>
		</div><!-- /.frame__btns -->
	</div><!-- /.frame__inner -->
</div><!-- /.frame-tile -->
