<div class="nav nav--sidebar js-nav">
	<div class="nav__list">
		<ul class="list-nav">
			<li>
				<a href="#" class="link-nav link-nav--alt nav__interactive active">Alpin Hotel</a>
			</li>
			
			<li>
				<a href="#" class="link-nav link-nav--alt nav__interactive">Terug naar Hoteloverzicht</a>
			</li>
		</ul><!-- /.list-nav -->
	</div><!-- /.nav__list -->

	<div class="nav__inner nav__interactive">
		<div class="nav__shade">
			<div class="shade-grad color-black shade-grad--big shade-grad--reverse nav__overlayed op-8"></div><!-- /.shade-grad -->
		</div><!-- /.nav__shade -->
		
		<div class="nav__bg bg-purple">
			<div class="shade-grad color-black op-4"></div><!-- /.shade-grad -->
		</div><!-- /.nav__bg -->
		
		<div class="nav__content">
			<div class="nav__tabs">
				<ul class="list-tabs hidden-xs hidden-sm">
					<li>
						<button
							class="link-arrow js-tab-remote js-tab-remote-solid active"
							data-target=".tab-microsite-1"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Arrangementen</span>
						</button>
					</li>
					
					<li>
						<button
							class="link-arrow js-tab-remote js-tab-remote-solid"
							data-target=".tab-microsite-2"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Hotelinfo</span>
						</button>
					</li>
					
					<li>
						<button
							class="link-arrow js-tab-remote js-tab-remote-solid"
							data-target=".tab-microsite-3"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Foto &amp; Video</span>
						</button>
					</li>
					
					<li>
						<button
							class="link-arrow js-tab-remote js-tab-remote-solid"
							data-target=".tab-microsite-4"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Activiteitenagenda</span>
						</button>
					</li>

					<li>
						<button
							class="link-arrow js-tab-remote js-tab-remote-solid"
							data-target=".tab-microsite-5"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Omgeving</span>
						</button>
					</li>

					<li>
						<button
							class="link-arrow js-tab-remote js-tab-remote-solid"
							data-target=".tab-microsite-6"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Route &amp; Contact</span>
						</button>
					</li>
				</ul><!-- /.list-tabs -->

				<span class="nav__info color-white hidden-md hidden-lg"><em>Bekijk</em></span>

				<div class="dropdown-tabs color-purple hidden-md hidden-lg">
					<div class="select select2-parent js-dropdown-parent">
						<select class="js-dropdown js-dropdown-tabs" id="select-tabs-nav">
							<option value="01">Arrangementen</option>
							<option value="02">Hotelinfo</option>
							<option value="03">Foto &amp; Video</option>
							<option value="04">Activiteitenagenda</option>
							<option value="05">Omgeving</option>
							<option value="06">Route &amp; Contact</option>
						</select>
					</div><!-- /.select -->
				</div><!-- /.dropdown-tabs -->
			</div><!-- /.nav__tabs -->

			<div class="nav__results hidden-lg">
				<a href="#" class="link nav__link wrapper__arrangements-hidden">3 arrangementen beschikbaar</a>
			</div><!-- /.nav__results -->
		</div><!-- /.nav__content -->
		
		<div class="nav__sidebar fw-sb">
			<div class="sidebar-nav js-sidebar-nav has-arrangements-active">
				<div class="sidebar__inner">
					<div class="sidebar__logo">
						<img src="assets/images/temp/logo-alpin.png" alt="" width="132" height="90">
					</div><!-- /.sidebar__logo -->
					
					<div class="sidebar__content sidebar__arrangements-hidden">
						<a href="#" class="link sidebar__link nav__results">3 arrangementen beschikbaar</a>
						
						<div class="sidebar__actions">
							<a href="#" class="btn btn--green frame__btn nav__offset">
								<span class="btn__content">
									<h5 class="btn__title">Info & Boeken</h5>
									
									<span class="btn__price fw-sb">
										<span class="price color-black">v.a.&nbsp;<span class="fw-xb"><span class="price__big">&euro;&nbsp;199,</span>95</span>&nbsp;p.p.
										</span>
									</span>
								</span>
								
								<span class="btn__icon">
									<i class="fas fa-arrow-right"></i>
								</spa >
							</a>
						</div><!-- /.sidebar__actions -->
					</div><!-- /.sidebar__content -->
				</div><!-- /.sidebar__inner -->
			</div><!-- /.sidebar-nav -->
		</div><!-- /.nav__sidebar -->
	</div><!-- /.nav__inner -->
</div><!-- /.nav -->
