<div class="nav nav--sidebar nav--steps js-nav is-fixed">
	<div class="nav__list">
		<ul class="list-nav">
			<li>
				<a href="#" class="link-nav link-nav--alt nav__interactive active">Alpin Hotel</a>
			</li>
			
			<li>
				<a href="#" class="link-nav link-nav--alt nav__interactive">Terug naar Hoteloverzicht</a>
			</li>
		</ul><!-- /.list-nav -->
	</div><!-- /.nav__list -->

	<div class="nav__inner nav__interactive">
		<div class="nav__shade">
			<div class="shade-grad color-black shade-grad--big shade-grad--reverse nav__overlayed op-8"></div><!-- /.shade-grad -->
		</div><!-- /.nav__shade -->
		
		<div class="nav__bg bg-purple">
			<div class="shade-grad color-black op-4"></div><!-- /.shade-grad -->
		</div><!-- /.nav__bg -->
		
		<div class="nav__content">
			<div class="nav__tabs">
				<span class="nav__info nav--info--alt color-white"><em>Plaats uw boeking</em></span>

				<ul class="list-tabs">
					<li>
						<button
							class="link-arrow link-arrow--circle js-tab-remote js-tab-remote-solid active"
							data-target=".tab-booking-1"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Stap</span>

							<span class="link__circle">
								<span class="circle">
									<span class="circle__content color-purple">1</span>
								</span>
							</span>
						</button>
					</li>
					
					<li>
						<button
							class="link-arrow link-arrow--circle js-tab-remote js-tab-remote-solid"
							data-target=".tab-booking-2"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Stap</span>

							<span class="link__circle">
								<span class="circle">
									<span class="circle__content color-purple">2</span>
								</span>
							</span>
						</button>
					</li>
					
					<li>
						<button
							class="link-arrow link-arrow--circle js-tab-remote js-tab-remote-solid"
							data-target=".tab-booking-3"
						>
							<span class="link__arrow"></span>
		
							<span class="link__content">Stap</span>

							<span class="link__circle">
								<span class="circle">
									<span class="circle__content color-purple">3</span>
								</span>
							</span>
						</button>
					</li>
				</ul><!-- /.list-tabs -->
			</div><!-- /.nav__tabs -->
		</div><!-- /.nav__content -->
		
		<div class="nav__sidebar fw-sb">
			<div class="sidebar-nav">
				<div class="sidebar__inner">
					<div class="sidebar__logo sidebar__logo--center">
						<img src="assets/images/temp/logo-alpin.png" alt="" width="132" height="90">
					</div><!-- /.sidebar__logo -->
				</div><!-- /.sidebar__inner -->
			</div><!-- /.sidebar-nav -->
		</div><!-- /.nav__sidebar -->
	</div><!-- /.nav__inner -->
</div><!-- /.nav -->
