<div class="nav js-nav">
	<div class="nav__list">
		<ul class="list-nav">
			<li>
				<a href="#" class="link-nav nav__interactive active"><span><span>Hotel</span><i class="link__breaker"> </i><span>overzicht</span></span></a>
			</li>
			
			<li>
				<a href="#" class="link-nav nav__interactive">Dáárom EnjoyHotels</a>
			</li>
			
			<li>
				<a href="#" class="link-nav nav__interactive">Brochure 2020</a>
			</li>
		</ul><!-- /.list-nav -->
	</div><!-- /.nav__list -->

	<div class="nav__inner nav__interactive">
		<div class="nav__shade">
			<div class="shade-grad color-black shade-grad--big shade-grad--reverse nav__overlayed op-8"></div><!-- /.shade-grad -->
		</div><!-- /.nav__shade -->
		
		<div class="nav__bg bg-purple">
			<div class="shade-grad color-black op-4"></div><!-- /.shade-grad -->
		</div><!-- /.nav__bg -->
		
		<div class="nav__content">
			<div class="nav__tabs">
				<ul class="list-tabs hidden-xs">
					<li>
						<a href="#" class="link-arrow active">
							<span class="link__arrow"></span>
		
							<span class="link__content">Alle landen</span>
						</a>
					</li>
					
					<li>
						<a href="#" class="link-arrow">
							<span class="link__arrow"></span>
		
							<span class="link__content">Duitsland</span>
						</a>
					</li>
					
					<li>
						<a href="#" class="link-arrow">
							<span class="link__arrow"></span>
		
							<span class="link__content">Nederland</span>
						</a>
					</li>
					
					<li>
						<a href="#" class="link-arrow">
							<span class="link__arrow"></span>
		
							<span class="link__content">België</span>
						</a>
					</li>
				</ul><!-- /.list-tabs -->

				<div class="dropdown-tabs color-purple hidden-sm hidden-md hidden-lg">
					<div class="select select2-parent js-dropdown-parent">
						<select class="js-dropdown js-dropdown-tabs" id="select-tabs-nav">
							<option value="01">Alle landen</option>
							<option value="02">Duitsland</option>
							<option value="03">Nederland</option>
							<option value="04">België</option>
						</select>
					</div><!-- /.select -->
				</div><!-- /.dropdown-tabs -->
			</div><!-- /.nav__tabs -->

			<div class="nav__dropdown color-purple">
				<include src="dropdown-date.html"></include>
			</div><!-- /.nav__contact -->
		</div><!-- /.nav__content -->
	</div><!-- /.nav__inner -->
</div><!-- /.nav -->
