<div class="dates dates--sm slider slider--date js-slider-container">
	<div class="dates__intro">
		<div class="dates__title js-slider-date-title">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h5>Aankomstdata <br><span class="text-nowrap">November 2020</span></h5>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<h5>Aankomstdata <br><span class="text-nowrap">December 2020</span></h5>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<h5>Aankomstdata <br><span class="text-nowrap">January 2021</span></h5>
				</div><!-- /.swiper-slide -->
			</div><!-- /.swiper-wrapper -->
		</div><!-- /.dates__title -->

		<div class="slider__nav color-cream">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"><i class="fal fa-angle-left"></i></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"><i class="fal fa-angle-right"></i></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.dates__intro -->

	<div class="dates__inner js-slider js-slider-date">
		<div class="dates__main swiper-wrapper">
			<div class="swiper-slide">
				<div class="dates__group">
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm-booked.html"></include>
				</div><!-- /.dates__group -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="dates__group">
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>

					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>

					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm.html"></include>
				</div><!-- /.dates__group -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="dates__group">
					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm-booked.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
					
					<include src="date-sm.html"></include>
				</div><!-- /.dates__group -->
			</div><!-- /.swiper-slide -->
		</div><!-- /.dates__main -->
	</div><!-- /.dates__inner -->
</div><!-- /.dates -->
