<div class="tiles tiles--full slider slider--hero js-slider-container">
	<div class="tiles__inner js-slider js-slider-hero">
		<div class="tiles__main swiper-wrapper">
			<div class="swiper-slide">
				<div class="component">
					<include src="tile-lg.html"></include>
				</div><!-- /.component -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="component">
					<include src="tile-lg-1.html"></include>
				</div><!-- /.component -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="component">
					<include src="tile-lg.html"></include>
				</div><!-- /.component -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="component">
					<include src="tile-lg-1.html"></include>
				</div><!-- /.component -->
			</div><!-- /.swiper-slide -->
		</div><!-- /.tiles__main -->

		<div class="slider__nav color-white">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"><i class="fal fa-angle-left"></i></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"><i class="fal fa-angle-right"></i></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.tiles__inner -->
</div><!-- /.tiles -->
