<div class="dates slider slider--date js-slider-container">
	<div class="dates__intro">
		<div class="dates__title js-slider-date-title">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h5>Aankomstdata <span class="text-nowrap">November 2020</span></h5>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<h5>Aankomstdata <span class="text-nowrap">December 2020</span></h5>
				</div><!-- /.swiper-slide -->
		
				<div class="swiper-slide">
					<h5>Aankomstdata <span class="text-nowrap">January 2021</span></h5>
				</div><!-- /.swiper-slide -->
			</div><!-- /.swiper-wrapper -->
		</div><!-- /.dates__title -->
		
		<p>All in bij Sauerland Alpin - <span class="dates__nowrap">5 dagen</span></p>
		
		<div class="slider__nav color-cream">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"><i class="fal fa-angle-left"></i></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"><i class="fal fa-angle-right"></i></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.dates__intro -->

	<div class="dates__inner js-slider js-slider-date">
		<div class="dates__main swiper-wrapper">
			<div class="swiper-slide">
				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>
				
				<include src="date-booked.html"></include>

				<include src="date-booked.html"></include>

				<include src="date-booked.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date-booked.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<include src="date-booked.html"></include>
				
				<include src="date-booked.html"></include>

				<include src="date-booked.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>

				<include src="date.html"></include>
			</div><!-- /.swiper-slide -->
		</div><!-- /.dates__main -->
	</div><!-- /.dates__inner -->
</div><!-- /.dates -->
