<div class="thumbnails slider slider--thumbs js-slider-container">
	<div class="thumbnails__shade">
		<div class="shade-grad color-black shade-grad--reverse op-4"></div><!-- /.shade-grad -->
	</div><!-- /.thumbnails__shade -->

	<div class="thumbnails__inner js-slider js-slider-thumbs">
		<div class="thumbnails__main swiper-wrapper">
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/alpin.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/alpin-alt.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-alt-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->

					<div class="thumbnail__icon slider__icon">
						<i class="fas fa-play"></i>
					</div><!-- /.thumbnail__icon -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/arolsen.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/arolsen-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/riche.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/riche-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/schlosshotel.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/schlosshotel-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->

					<div class="thumbnail__icon slider__icon">
						<i class="fas fa-play"></i>
					</div><!-- /.thumbnail__icon -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/alpin.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/alpin-alt.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-alt-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->

					<div class="thumbnail__icon slider__icon">
						<i class="fas fa-play"></i>
					</div><!-- /.thumbnail__icon -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/arolsen.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/arolsen-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/riche.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/riche-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
									
			<div class="swiper-slide">
				<span class="slider__notch"></span>
				
				<div class="thumbnail">
					<div class="thumbnail__image poster slider__thumb">
						<img class="hidden-xs" src="assets/images/temp/schlosshotel.jpg" alt="" width="1200" height="900">
										
						<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/schlosshotel-mobile.jpg" alt="" width="400" height="300">
					</div><!-- /.thumbnail__image -->

					<div class="thumbnail__icon slider__icon">
						<i class="fas fa-play"></i>
					</div><!-- /.thumbnail__icon -->
				</div><!-- /.thumbnail -->
			</div><!-- /.swiper-slide -->
		</div><!-- /.thumbnails__main -->

		<div class="slider__nav color-purple">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"><i class="fal fa-angle-left"></i></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"><i class="fal fa-angle-right"></i></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.thumbnails__inner -->
</div><!-- /.thumbnails -->
