<div class="gallery slider slider--gallery js-slider-container">
	<div class="gallery__inner js-slider js-slider-gallery">
		<div class="gallery__main swiper-wrapper">
			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/alpin.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-mobile.jpg" alt="" width="400" height="300">
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->
		
			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/alpin-alt.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-alt-mobile.jpg" alt="" width="400" height="300">

					<div class="video gallery__video js-video">
						<div class="video__holder">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/IiPq8yIE2ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!-- /.video__holder -->
						
						<button class="video__btn js-video-trigger"><i class="fas fa-play"></i></button>
					</div><!-- /.video -->
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/arolsen.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/arolsen-mobile.jpg" alt="" width="400" height="300">
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/riche.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/riche-mobile.jpg" alt="" width="400" height="300">
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/schlosshotel.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/schlosshotel-mobile.jpg" alt="" width="400" height="300">

					<div class="video gallery__video js-video">
						<div class="video__holder">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/IiPq8yIE2ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!-- /.video__holder -->
						
						<button class="video__btn js-video-trigger"><i class="fas fa-play"></i></button>
					</div><!-- /.video -->
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/alpin.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-mobile.jpg" alt="" width="400" height="300">
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->
		
			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/alpin-alt.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/alpin-alt-mobile.jpg" alt="" width="400" height="300">

					<div class="video gallery__video js-video">
						<div class="video__holder">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/IiPq8yIE2ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!-- /.video__holder -->
						
						<button class="video__btn js-video-trigger"><i class="fas fa-play"></i></button>
					</div><!-- /.video -->
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/arolsen.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/arolsen-mobile.jpg" alt="" width="400" height="300">
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/riche.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/riche-mobile.jpg" alt="" width="400" height="300">
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->

			<div class="swiper-slide">
				<div class="gallery__entry">
					<img class="hidden-xs" src="assets/images/temp/schlosshotel.jpg" alt="" width="1200" height="900">
				
					<img class="hidden-sm hidden-md hidden-lg" src="assets/images/temp/schlosshotel-mobile.jpg" alt="" width="400" height="300">

					<div class="video gallery__video js-video">
						<div class="video__holder">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/IiPq8yIE2ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!-- /.video__holder -->

						<button class="video__btn js-video-trigger"><i class="fas fa-play"></i></button>
					</div><!-- /.video -->
				</div><!-- /.gallery__entry -->
			</div><!-- /.swiper-slide -->
		</div><!-- /.gallery__main -->

		<div class="slider__nav color-white">
			<button class="slider__arrow slider__arrow--prev js-slider-button-prev"><i class="fal fa-angle-left"></i></button>
		
			<button class="slider__arrow slider__arrow--next js-slider-button-next"><i class="fal fa-angle-right"></i></button>
		</div><!-- /.slider__nav -->
	</div><!-- /.gallery__inner -->
</div><!-- /.gallery -->
