<div class="stamps component__stamps">
	<div class="stamps__inner">
		<div class="stamp color-light component__stamp component__stamp--new">
			<div class="stamp__content">
				<h6>NIEUW</h6>
			
				<p>in Duitsland</p>
			</div><!-- /.stamp__content -->
		</div><!-- /.stamp -->
		
		<div class="stamp color-light component__stamp component__stamp--actie">
			<div class="stamp__content">
				<h6>ACTIE</h6>
			
				<p>2020</p>
			</div><!-- /.stamp__content -->
		</div><!-- /.stamp -->
		
		<div class="stamp stamp--alt component__stamp component__stamp--deluxe">
			<div class="stamp__inner">
				<div class="stamp__icon">
					<img src="assets/images/svg/logo-small.svg" alt="">
				</div><!-- /.stamp__icon -->
		
				<div class="stamp__content">
					<h6>ENJOY</h6>
		
					<p>DELUXE</p>
				</div><!-- /.stamp__content -->
			</div><!-- /.stamp__inner -->
		</div><!-- /.stamp -->
	</div><!-- /.stamps__inner -->
</div><!-- /.stamps -->
