<div class="stars component__stars">
	<div class="star component__star">
		<img src="assets/images/svg/star-alt.svg" alt="">
	</div><!-- /.star -->

	<div class="star component__star">
		<img src="assets/images/svg/star-alt.svg" alt="">
	</div><!-- /.star -->

	<div class="star component__star">
		<img src="assets/images/svg/star-alt.svg" alt="">
	</div><!-- /.star -->

	<div class="star component__star">
		<img src="assets/images/svg/star-alt.svg" alt="">
	</div><!-- /.star -->

	<div class="star component__star">
		<img src="assets/images/svg/star-alt.svg" alt="">
	</div><!-- /.star -->
</div><!-- /.stars -->
