<div class="summary">
	<div class="summary__row">
		<div class="summary__col">
			Aantal volwassenen:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			2
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->
	
	<div class="summary__row">
		<div class="summary__col">
			Aantal kinderen:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			2
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->

	<div class="summary__row">
		<div class="summary__col">
			Aantal kamers:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			1
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->
</div><!-- /.summary -->