<div class="summary summary--lg">
	<h5>Uw arrangement</h5>
	
	<h3>5 Daagse alles inclusief bij Alpin Hotel</h3>

	<div class="summary__row">
		<div class="summary__col">
			Aankomst:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			Maandag
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			3-7-2020
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->
	
	<div class="summary__row">
		<div class="summary__col">
			Vertrek:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			Vrijdag
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			7-7-2020 <br>
			5 dagen
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->
</div><!-- /.summary -->