<div class="summary">
	<h5>Berekening van uw reissom</h5>

	<div class="summary__row">
		<div class="summary__col">
			Volwassene 1:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			&euro;&nbsp;200,-
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->
	
	<div class="summary__row">
		<div class="summary__col">
			Volwassene 2:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			&euro;&nbsp;200,-
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->

	<div class="summary__row">
		<div class="summary__col">
			Kind 1 (0-3):
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			Gratis
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->

	<div class="summary__row">
		<div class="summary__col">
			Kind 2 (4-13):
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			&euro;&nbsp;140,-
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->

	<div class="summary__row summary__row--mt">
		<div class="summary__col">
			Overnachtingsbijdrage:
		</div><!-- /.summary__col -->
		
		<div class="summary__col">
			&euro;&nbsp;48,-
		</div><!-- /.summary__col -->
	</div><!-- /.summary__row -->

	<h6>Op basis van uw reisgezelschap (&euro;&nbsp;3,- per persoon per nacht) </h6>
</div><!-- /.summary -->