<div class="tile zoom">
	<div class="tile__inner">
		<div class="tile__location">
			<div class="location">
				<span class="location__icon">
					<span class="icon-pin">
						<svg xmlns="http://www.w3.org/2000/svg" width="39" height="24.002" viewBox="0 0 39 24.002">
						  <g transform="translate(-100 -238.998)">
						    <path d="M16721,20008h-21v-8h25.869a9.023,9.023,0,0,0-4.867,8Z" transform="translate(-16600 -19761)" fill="#101010"/>
						    <path d="M16723.861,20016H16700v-8h21a7.378,7.378,0,0,0,.607,3.221l2.25,4.777Z" transform="translate(-16600 -19761)" fill="#f01515"/>
						    <path d="M16727.758,20024H16700v-8h23.861l3.447,7.313a2.729,2.729,0,0,0,.447.686Z" transform="translate(-16600 -19761)" fill="#ffd521"/>
						    <path d="M24,10a4,4,0,1,1-4-4A4.008,4.008,0,0,1,24,10Zm4,0a8,8,0,1,0-16,0,6.551,6.551,0,0,0,.516,2.8l5.7,12.094A1.954,1.954,0,0,0,20,26a1.994,1.994,0,0,0,1.8-1.109L27.484,12.8A6.551,6.551,0,0,0,28,10Z" transform="translate(111 237)" fill="currentColor"/>
						  </g>
						</svg>
					</span>
				</span>
				
				<span class="location__content">Sauerland – Teutoburgerwald</span>
			</div><!-- /.location -->
		</div><!-- /.tile__location -->

		<div class="tile__title">
			<div class="title">
				<div class="title__inner">
					<h2>Rathaushotel Erzgebirge</h2>

					<div class="title__stars tile__stars">
						<include src="stars.html"></include>
					</div><!-- /.title__stars -->

					<div class="title__stars tile__stars tile__stars--alt">
						<include src="stars-alt.html"></include>
					</div><!-- /.title__stars -->
				</div><!-- /.title__inner -->
			</div><!-- /.title -->
		</div><!-- /.tile__title -->
	</div><!-- /.tile__inner -->

	<div class="tile__image">
		<div class="tile__poster zoom__container hidden-xs">
			<div class="zoom__inner poster" style="background-image: url(assets/images/temp/schlosshotel.jpg);"></div><!-- /.zoom__inner -->
		</div><!-- /.tile__poster -->
		
		<div class="tile__poster zoom__container hidden-sm hidden-md hidden-lg">
			<div class="zoom__inner poster" style="background-image: url(assets/images/temp/schlosshotel-mobile.jpg);"></div><!-- /.zoom__inner -->
		</div><!-- /.tile__poster -->

		<div class="tile__shade component__shade">
			<div class="shade-tile shade-tile--alt color-black op-8"></div><!-- /.shade-tile -->
		</div><!-- /.tile__shade -->
		
		<div class="tile__stamps">
			<include src="stamps.html"></include>
		</div><!-- /.tile__stamps -->
	</div><!-- /.tile__image -->

	<a href="#" class="tile__link"></a>
</div><!-- /.tile -->
